{% load admin_urls static %}

<link rel="stylesheet" href='{% static "/admin/css/vendor/bootstrap-icons.css" %}'>

<style>
    #navigation-floater {
        position: fixed;
        top: 25%;
        right: 30px;
        z-index: 99;
        border: 3px solid var(--primary);
        background-color: var(--header-bg);
        color: var(--body-fg);
        padding: 15px;
        border-radius: 5px;
        font-size: 1.5rem;
    }

    #navigation-close,
    #navigation-next,
    #navigation-save {
        margin: auto;
        display: block;
        padding-bottom: 15px;
    }

    #navigation-previous {
        margin: auto;
        display: block;
    }

    #navigation-close:hover,
    #navigation-next:hover,
    #navigation-save:hover,
    #navigation-previous:hover {
        color: var(--link-hover-color);
    }
</style>

<div id="navigation-floater">
    <i class="bi bi-arrow-up-square" id="navigation-close" onclick="location.href='{% url opts|admin_urlname:'changelist' %}'" title="Close"></i>
    <i class="bi bi-save" id="navigation-save" {% if show_save or show_save_and_add_another %} onclick='document.getElementsByName("_save")[0].click();'{% else %}style='pointer-events:none;opacity: 0.3;' {% endif %} title="Save"></i>
    <i class="bi bi-arrow-right-square"id="navigation-next" onclick="whichRecord(event);" title="Next"></i>
    <i class="bi bi-arrow-left-square" id="navigation-previous" onclick="whichRecord(event);" title="Previous"></i>
    
</div>

<script type="text/javascript">
    function whichRecord(event) {
        if (!event.target.title.startsWith('No')){
            $.ajax({
                type: "GET",
                url: "{% url opts|admin_urlname:'change' original.id %}".replace('/change/', '/navigation/'),
                data: {
                    direction: event.target.id
                },
                success: function (result) {

                    let objId = result['id'];
                    if (objId) {
                        window.location.href = "{% url opts|admin_urlname:'changelist' %}" + objId;
                    }
                    else {
                        event.target.className = 'bi bi-square';
                        event.target.title = 'No more records';
                    }
                }
            });
        }
    };
</script>