{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
    {% if cl.formset %}
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
        {% endif %}
    {% if cl.formset or action_form %}
        <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {% endif %}
    {{ media.css }}
    {% if not actions_on_top and not actions_on_bottom %}
        <style>
        #changelist table thead th:first-child {width: inherit}
        </style>
    {% endif %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media.js }}
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
    <div id="content-main">
        {% block object-tools %}
            <ul class="object-tools">
            {% block object-tools-items %}
                {% if user.id == 6 %}        
                    <li>
                    <a style="background-color:palevioletred;" 
                    href='approve'>Approve All</a>
                    </li>
                {% endif %}
            {% endblock %}
            </ul>
        {% endblock %}
        
        <div class="module" id="changelist">
        
        {% block result_list %}
            {% if data %}
                <div class='results'>
                    <table style="margin-top:10px;">
                        <!-- <thead>
                            <tr>
                                <th style="padding:8px 10px;background-color:#79aec8; color:white; font-size:14px">
                                ID
                                </th>
                                <th style="padding:8px 10px;background-color:#79aec8; color:white; font-size:14px">
                                Name
                                </th>
                                <th style="padding:8px 10px;background-color:#79aec8; color:white; font-size:14px">
                                User
                                </th>
                                <th style="padding:8px 10px;background-color:#79aec8; color:white; font-size:14px">
                                History
                                </th>
                            </tr>
                        </thead> -->
                        <tbody>
                            {% for model in data %}
                                <tr>
                                    <th colspan=4 style="background-color:#79aec882; color:#666; text-transform:uppercase; font-size:12px; padding:8px 10px;">
                                    {{model.0}}
                                    </th>
                                </tr>
                                {% if model.2 %}
                                    <tr style="background-color:#ddddddb8; text-transform:uppercase; color:#666;">
                                        <th style="font-size: 11px; text-decoration: underline;">Added</th>
                                        <th style="font-size: 11px;">
                                            Name
                                        </th style="font-size: 11px;">
                                        <th style="font-size: 11px;">
                                            Created by
                                        </th>
                                        <th style="font-size: 11px;">
                                            
                                        </th>
                                    </tr>
                                    {% for row in model.2 %}
                                        <tr class=”{% cycle 'row1' 'row2' %}”>
                                            <td> <a href='/{{model.4}}/{{model.1}}/{{ row.id }}' style="font-weight:bold">{{ row.id }} </a></td>
                                            <td> 
                                                {% if row.name %}
                                                {{ row.name}}
                                                {% else %}
                                                {{ row.part_description }}
                                                {% endif %}
                                            </td>
                                            <td> {{ row.created_by }} </td>
                                            <td> <a href='/{{model.4}}/{{model.1}}/{{ row.id }}/history/'>History</a></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                {% if model.3 %}
                                    <tr style="background-color:#ddddddb8; text-transform:uppercase; color:#666;">
                                        <th style="font-size: 11px; text-decoration: underline;">Changed</th>
                                        <th style="font-size: 11px;">
                                            Name
                                        </th style="font-size: 11px;">
                                        <th style="font-size: 11px;">
                                            Created by
                                        </th>
                                        <th style="font-size: 11px;">
                                            
                                        </th>
                                    </tr>
                                    {% for row in model.3 %}
                                        <tr class=”{% cycle 'row1' 'row2' %}”>
                                            <td> <a href='/{{model.4}}/{{model.1}}/{{ row.id }}' style="font-weight:bold">{{ row.id }} </a></td>
                                            <td> {{ row.name }} </td>
                                            <td> {{ row.created_by }} </td>
                                            <td> <a href='/{{model.4}}/{{model.1}}/{{ row.id }}/history/'>History</a></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div>
                There is nothing to approve at the moment.
                </div>
            {% endif %}
        {% endblock %}
        </div>
    </div>
{% endblock %}
