<!DOCTYPE html>

<html lang="de-de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Formblatt Z: {{object}}</title>
</head>

<body style='font-family:"arial"'>

    <h1>Formblatt Z: {{object}}</h1>
        
    {% if formz_header %}
        <h2>Betreiber</h2>
        <div><span style='font-weight: bold'>Bezeichnung:</span> {{formz_header.operator}}</div>
        <div><span style='font-weight: bold'>Anschrift:</span> {{formz_header.address}}</div>
        <div><span style='font-weight: bold'>Beauftragter für Biologische Sicherheit:</span> {{formz_header.name_biosafety_officer}}</div>
        <div><span style='font-weight: bold'>S1 Genehmigung:</span> {{formz_header.s1_approval_file_num}}; erteilt am {{formz_header.s1_approval_date | date:"d.m.Y"}}</div>
        {% if object.s2_work %}
            <div><span style='font-weight: bold'>S2 Genehmigung:</span> {{formz_header.s2_approval_file_num}}; erteilt am {{formz_header.s2_approval_date | date:"d.m.Y"}}</div>
        {% endif %}
    {% else %}
        <h2>Kein Betreiber</h2>
    {% endif %}

    <h2>Details zum Organismus</h2>
    <div><span style='font-weight: bold'>Bezeichnung:</span> {{object}}</div>
    <div><span style='font-weight: bold'>Empfängerorganismus:</span> <span style='font-style: italic'>{{storage_location.species_name.name_for_search}}</span>
    {% if object.formz_ecoli_strains %}
        {% if object.formz_ecoli_strains.all|length == 1 %}
                {% for ecoli in object.formz_ecoli_strains.all %}
                    (Stamm: {{ecoli.name}} - Hintergrund {{ecoli.background}}; Risikogrouppe: {{storage_location.species_risk_group}})
                {% endfor %}
            {% else %}
                {% for ecoli in object.formz_ecoli_strains.all %}
                    {% if forloop.first %}
                        (Stamm: {{ecoli.name}} - Hintergrund {{ecoli.background}},
                    {% elif forloop.last %}
                        {{ecoli.name}} - Hintergrund {{ecoli.background}}; Risikogrouppe: {{storage_location.species_risk_group}})
                    {% else %}
                        {{ecoli.name}} - Hintergrund {{ecoli.background}},
                    {% endif %}
                {% endfor %}
        {% endif %}
    {% else %}
        (Risikogrouppe: {{storage_location.species_risk_group}})
    {% endif %}</div>
    <div><span style='font-weight: bold'>Risikogruppe:</span> {{object.formz_risk_group}}</div>

    {% if object.chromosomal_genotype %}
        <div><span style='font-weight: bold'>Genotyp:</span> {{object.chromosomal_genotype}}</div>
    {% endif %}
    <div><span style='font-weight: bold'>Projekt/e:</span>
        {% if object.formz_projects.all|length == 1 %}
            {% for project in object.formz_projects.all %}
                {{project.title}}
                {% if project.parent_project%}
                    (Hauptproject: {{project.parent_project.title}})
                {% endif %}
            {% endfor %}
        {% else %}
            {% for project in object.formz_projects.all %}
                {% if forloop.last %}
                    {{project.title}}
                    {% if project.parent_project%}
                        (Hauptproject: {{project.parent_project.title}})
                    {% endif %}
                {% else %}
                    {{project.title}}
                    {% if project.parent_project%}
                        (Hauptproject: {{project.parent_project.title}}),
                    {% else %}
                    ,
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% if object.formz_gentech_methods.all %}
    <div><span style='font-weight: bold'>Gentechnische Arbeitsmethod/en:</span>
        {% if object.formz_gentech_methods.all|length == 1 %}
            {% for method in object.formz_gentech_methods.all %}
                {{method.german_name}}
            {% endfor %}
        {% else %}
            {% for method in object.formz_gentech_methods.all %}
                {% if forloop.last %}
                    {{method.german_name}}
                {% else %}
                    {{method.german_name}},
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
    </div>
    {% if object.zkbs_cell_line and object.zkbs_cell_line.name != 'none' %}
        <div><span style='font-weight: bold'>ZKBS Datenbank Zelllinien:</span> {{object.zkbs_cell_line}}</div>
    {% endif %}
    <div><span style='font-weight: bold'>Erzeugt:</span> {{object.created_date_time | date:"d.m.Y"}}</div>
    <div><span style='font-weight: bold'>Entsorgt:</span> 
        {% if object.destroyed_date %}
            {{object.destroyed_date | date:"d.m.Y"}}
        {% else %}
            Nein
        {% endif %}
    </div>
    <div><span style='font-weight: bold'>Bestätigt durch Projektleiter:</span> 
        {% if object.last_changed_approval_by_pi is not None %}
            {% if object.last_changed_approval_by_pi %}
                {{object.approval_by_pi_date_time | date:"d.m.Y, H:i:s"}} ({{object.approval_user.first_name}} {{object.approval_user.last_name}})
            {% else %}
                Nein
            {% endif %}
        {% else %}
            {% if object.created_approval_by_pi %}
                {{object.approval_by_pi_date_time | date:"d.m.Y, H:i:s"}} ({{object.approval_user.first_name}} {{object.approval_user.last_name}})
            {% else %}
                Nein
            {% endif %}
        {% endif %}
    </div>
    <div><span style='font-weight: bold'>Lagerort:</span> {{storage_location.storage_location}}</div>

    {% if object.instock_plasmids %}
    <h3>Plasmid/e die zur Erschaffung des Organismus genutzt wurden</h3>
         <ul>
            
            {% for plasmid in object.instock_plasmids %}
                <li>
                    Plasmid #{{plasmid}}
                    {% if plasmid.vector_zkbs %}
                        {% if plasmid.vector_zkbs.name != 'none' %}
                            <span style='text-transform: none'>- ZKBS Plasmid: </span>{{plasmid.vector_zkbs.name}}
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
    {% endif %}

    {% if object.uncommon_formz_elements or object.common_formz_elements %}
        <div>    
            <h3>Bezeichnung und für die Sicherheitsbeurteilung bedeutsame Merkmale des GVO</h3>
                <table style='border-bottom: 1px solid rgb(0, 0, 0);'>
                    <thead>
                        <tr>
                            <th scope="col" style="text-align:center"></th>
                            <th colspan="2" scope="col" style="text-align:center; border: 1px solid rgb(0, 0, 0); background:lightgrey;">
                                <div >Spenderorganismus</div>
                            </th>
                            <th colspan="2" scope="col" style="text-align:center; border: 1px solid rgb(0, 0, 0); background:lightgrey;">
                                <div>Nukleinsäure</div>
                            </th>
                        </tr>
                        <tr>
                            <th scope="col" style='border: 1px solid rgb(0, 0, 0); background:lightgrey;'>
                                <div>Bezeichnung</div>
                            </th>
                            <th scope="col" style="text-align:center; border: 1px solid rgb(0, 0, 0); background:lightgrey;">
                                <div >Bezeichnung</div>
                            </th>
                            <th scope="col" style="text-align:center; border: 1px solid rgb(0, 0, 0); background:lightgrey;"> 
                                <div>Risikogruppe</div>
                            </th>
                            <th scope="col" style="text-align:center; border: 1px solid rgb(0, 0, 0); background:lightgrey;">
                                <div>Reinheitsgrad</div>
                            </th>
                            <th scope="col" style="text-align:center; border: 1px solid rgb(0, 0, 0); background:lightgrey;">
                                <div>Gefährdungspotential</div>
                            </th>
                            <th scope="col" style="text-align:center; border: 1px solid rgb(0, 0, 0); background:lightgrey;">
                                <div>Beschreibung</div>
                            </th>
                        </tr>
                    </thead>
                    {% if object.uncommon_formz_elements %}
                        <tbody>
                            {% for formz_elem in object.uncommon_formz_elements %}
                                <tr>
                                    <td style="border-left: 1px solid rgb(0, 0, 0);">{{formz_elem.name}}</td>
                                    <td style="text-align:center; border-left: 1px solid rgb(0, 0, 0);">{% if formz_elem.get_donor_species_names %}{{formz_elem.get_donor_species_names}}{% else %}Artifiziell{% endif %}</td>
                                    <td style="text-align:center; border-right: 1px solid rgb(0, 0, 0);">{% if formz_elem.get_donor_species_risk_groups %}{{formz_elem.get_donor_species_risk_groups}}{% else %}Keine{% endif %}</td>
                                    <td style="text-align:center; border-left: 1px solid rgb(0, 0, 0); ">{{formz_elem.nuc_acid_purity.german_name|capfirst}}</td>
                                    <td style="text-align:center; border-right: 1px solid rgb(0, 0, 0);">{{formz_elem.nuc_acid_risk.german_name|capfirst}}</td>
                                    <td style="border-right: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(0, 0, 0);">{% if formz_elem.get_donor_species_risk_groups > 1 %} {{formz_elem.description}} {% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% else %}
                        <tbody>
                        <tr>
                            <td colspan="6" style="text-align:center; border-right: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(0, 0, 0);">Keine unüblichen Merkmale</td>
                        </tr>
                        </tbody>
                    {% endif %}
                {% if object.common_formz_elements %}
                    <tbody>
                        <tr>
                            <td colspan="6" style="border: 1px solid rgb(0, 0, 0); font-weight: bold; text-align:center;">Andere Merkmale, nicht relevant für die Sicherheitsbeurteilung</td>
                        </tr>
                        {% for formz_elem in object.common_formz_elements %}
                            <tr>
                                <td style="border-left: 1px solid rgb(0, 0, 0);">{{formz_elem.name}}</td>
                                <td style="text-align:center; border-left: 1px solid rgb(0, 0, 0);">{% if formz_elem.get_donor_species_names %}{{formz_elem.get_donor_species_names}}{% else %}Artifiziell{% endif %}</td>
                                <td style="text-align:center; border-right: 1px solid rgb(0, 0, 0);">{% if formz_elem.get_donor_species_risk_groups %}{{formz_elem.get_donor_species_risk_groups}}{% else %}Keine{% endif %}</td>
                                <td style="text-align:center; border-left: 1px solid rgb(0, 0, 0); ">{{formz_elem.nuc_acid_purity.german_name|capfirst}}</td>
                                <td style="text-align:center; border-right: 1px solid rgb(0, 0, 0);">{{formz_elem.nuc_acid_risk.german_name|capfirst}}</td>
                                <td style="border-right: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(0, 0, 0);">{% if formz_elem.get_donor_species_max_risk_group > 1 %} {{formz_elem.description}} {% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endif %}
                </table>
        </div>
    {% else %}
        <br>
        <div>Keine Information vorhanden</div>
    {% endif %}

    {% if object.transient_episomal_plasmids %}
        <div>
                        
            {% if object.s2_work %}
                <h2> In den Organismus transduktierte Plasmide</h2>    
                <div>Dieser Organismus wurde durch virale Transduktion des folgenden Plasmids/der folgenden Plasmide geschaffen.</div>
            {% else %}
                <h2> In den Organismus transient {% if transfected %}transfizierte{% else %}transformierte{% endif %} Plasmide</h2>
                <div>Dieser Organismus wurde mit dem/n folgenen Plasmid/en transient {% if transfected %}transfiziert{% else %}transformiert{% endif %}.</div>
            {% endif %}
           
            {% for plasmid in object.transient_episomal_plasmids %}

                <br>
                <table style='border-bottom: 1px solid rgb(0, 0, 0);'>
                    <thead>
                        <tr>
                            <th colspan="6" scope="col" style="text-align:left; border: 1px solid rgb(0, 0, 0); background:lightgrey;">
                                Plasmid #{{plasmid.plasmid}} 
                                <span style="text-transform: none">
                                    {% if plasmid.created_date %}
                                        (Organismus {% if transfected %}transfiziert{% else %}transformiert{% endif %} am {{plasmid.created_date | date:"d.m.Y"}},
                                    {% endif %}

                                    unter Projekt/e:

                                    {% if plasmid.formz_projects.all|length == 1 %}
                                        {% for project in plasmid.formz_projects.all %}
                                            {{project.title}};
                                        {% endfor %}
                                    {% else %}
                                        {% for project in plasmid.formz_projects.all %}
                                            {% if forloop.last %}
                                                {{project.title}};
                                            {% else %}
                                                {{project.title}},
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if plasmid.destroyed_date %}
                                        entsorgt am {{plasmid.destroyed_date | date:"d.m.Y"}})
                                    {% else %}
                                        noch nicht entsorgt)
                                    {% endif %}
                                </span>
                                
                                {% if plasmid.plasmid.vector_zkbs %}
                                    {% if plasmid.plasmid.vector_zkbs.name != 'none' %}
                                        <span style='text-transform: none'>- ZKBS Plasmid: </span>{{plasmid.plasmid.vector_zkbs.name}}
                                    {% endif %}
                                {% endif %}
                            </th>
                        </tr>
                    </thead>

                        {% if plasmid.plasmid.formz_elements.all %}
                            {% if plasmid.plasmid.get_all_uncommon_formz_elements %}
                                <thead>
                                    <tr>
                                        <th scope="col" style="border-left: 1px solid rgb(0, 0, 0); background:lightgrey;"></th>
                                        <th colspan="2" scope="col" style="text-align:center; border: 1px solid rgb(0, 0, 0); background:lightgrey;">
                                            <div >Spenderorganismus</div>
                                        </th>
                                        <th colspan="2" scope="col" style="text-align:center; border: 1px solid rgb(0, 0, 0); background:lightgrey;">
                                            <div>Nukleinsäure</div>
                                        </th>
                                        <th scope="col" style="border-right: 1px solid rgb(0, 0, 0); background:lightgrey;"></th>
                                    </tr>
                                    <tr>
                                        <th scope="col" style='border: 1px solid rgb(0, 0, 0); background:lightgrey;'>
                                            <div>Bezeichnung</div>
                                        </th>
                                        <th scope="col" style="text-align:center; border: 1px solid rgb(0, 0, 0); background:lightgrey;">
                                            <div >Bezeichnung</div>
                                        </th>
                                        <th scope="col" style="text-align:center; border: 1px solid rgb(0, 0, 0); background:lightgrey;"> 
                                            <div>Risikogruppe</div>
                                        </th>
                                        <th scope="col" style="text-align:center; border: 1px solid rgb(0, 0, 0); background:lightgrey;">
                                            <div>Reinheitsgrad</div>
                                        </th>
                                        <th scope="col" style="text-align:center; border: 1px solid rgb(0, 0, 0); background:lightgrey;">
                                            <div>Gefährdungspotential</div>
                                        </th>
                                        <th scope="col" style="text-align:center; border: 1px solid rgb(0, 0, 0); background:lightgrey;">
                                            <div>Beschreibung</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                        {% for formz_elem in plasmid.plasmid.get_all_uncommon_formz_elements %}
                                            <tr>
                                                <td style="border-left: 1px solid rgb(0, 0, 0);">{{formz_elem.name}}</td>
                                                <td style="text-align:center; border-left: 1px solid rgb(0, 0, 0);">{% if formz_elem.get_donor_species_names %}{{formz_elem.get_donor_species_names}}{% else %}Artifiziell{% endif %}</td>
                                                <td style="text-align:center; border-right: 1px solid rgb(0, 0, 0);">{% if formz_elem.get_donor_species_risk_groups %}{{formz_elem.get_donor_species_risk_groups}}{% else %}Keine{% endif %}</td>
                                                <td style="text-align:center; border-left: 1px solid rgb(0, 0, 0); ">{{formz_elem.nuc_acid_purity.german_name|capfirst}}</td>
                                                <td style="text-align:center; border-right: 1px solid rgb(0, 0, 0);">{{formz_elem.nuc_acid_risk.german_name|capfirst}}</td>
                                                <td style="border-right: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(0, 0, 0);">{% if formz_elem.get_donor_species_max_risk_group > 1 %} {{formz_elem.description}} {% endif %}</td>
                                            </tr>
                                        {% endfor %}
                                </tbody>
                            {% else %}
                                <tbody>
                                    <tr>
                                        <td colspan="6" style="text-align:center; border-right: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(0, 0, 0);">Keine unüblichen Merkmale</td>
                                    </tr>
                                </tbody>
                            {% endif %}
                        {% else %}
                            <tbody>
                                <tr>
                                    <td colspan="6" style="text-align:center; border-right: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(0, 0, 0);">Keine Merkmale</td>
                                </tr>
                            </tbody>
                        {% endif %}
                        
                        {% if plasmid.plasmid.get_all_common_formz_elements %}
                                <tbody>
                                    <tr>
                                        <td colspan="6" style="border: 1px solid rgb(0, 0, 0); font-weight: bold; text-align:center;">Andere Merkmale, nicht relevant für die Sicherheitsbeurteilung</td>
                                    </tr>
                                    {% for formz_elem in plasmid.plasmid.get_all_common_formz_elements %}
                                        <tr>
                                            <td style="border-left: 1px solid rgb(0, 0, 0);">{{formz_elem.name}}</td>
                                            <td style="text-align:center; border-left: 1px solid rgb(0, 0, 0);">{% if formz_elem.get_donor_species_names %}{{formz_elem.get_donor_species_names}}{% else %}Artifiziell{% endif %}</td>
                                            <td style="text-align:center; border-right: 1px solid rgb(0, 0, 0);">{% if formz_elem.get_donor_species_risk_groups %}{{formz_elem.get_donor_species_risk_groups}}{% else %}Keine{% endif %}</td>
                                            <td style="text-align:center; border-left: 1px solid rgb(0, 0, 0); ">{{formz_elem.nuc_acid_purity.german_name|capfirst}}</td>
                                            <td style="text-align:center; border-right: 1px solid rgb(0, 0, 0);">{{formz_elem.nuc_acid_risk.german_name|capfirst}}</td>
                                            <td style="border-right: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(0, 0, 0);">{% if formz_elem.get_donor_species_max_risk_group > 1 %} {{formz_elem.description}} {% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                        {% endif %}
                    </table>
            {% endfor %}
        </div>
    {% endif %}

    {% if object.s2_plasmids %}

        <div>      
            
            <h4>Virusverpackung</h4>
            <div>Das oben genannten Plasmid/die oben genannten Plasmide wurden mit dem/den unten genannten Plasmid/Plasmiden zum verpacken viraler Partikel in HEK293T cells genutzt.</div>
                
            {% for plasmid in object.s2_plasmids %}

                    <br>
                    <table style='border-bottom: 1px solid rgb(0, 0, 0);'>
                        <thead>
                            <tr>
                                <th colspan="6" scope="col" style="text-align:left; border: 1px solid rgb(0, 0, 0); background:grey;">
                                    Plasmid #{{plasmid.plasmid}} 
                                    <span style="text-transform: none">
                                        {% if plasmid.created_date %}
                                            (Organismus transfiziert am {{plasmid.created_date | date:"d.m.Y"}},
                                        {% endif %}
    
                                        unter Projekt/e:
    
                                        {% if plasmid.formz_projects.all|length == 1 %}
                                            {% for project in plasmid.formz_projects.all %}
                                                {{project.title}};
                                            {% endfor %}
                                        {% else %}
                                            {% for project in plasmid.formz_projects.all %}
                                                {% if forloop.last %}
                                                    {{project.title}};
                                                {% else %}
                                                    {{project.title}},
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
    
                                        {% if plasmid.destroyed_date %}
                                            entsorgt am {{plasmid.destroyed_date | date:"d.m.Y"}})
                                        {% else %}
                                            noch nicht entsorgt)
                                        {% endif %}
                                    </span>
                                    
                                    {% if plasmid.plasmid.vector_zkbs %}
                                        {% if plasmid.plasmid.vector_zkbs.name != 'none' %}
                                            <span style='text-transform: none'>- ZKBS Plasmid: </span>{{plasmid.plasmid.vector_zkbs.name}}
                                        {% endif %}
                                    {% endif %}
                                </th>
                            </tr>
                        </thead>
                        {% if plasmid.plasmid.formz_elements.all %}
                        {% if plasmid.plasmid.get_all_uncommon_formz_elements %}
                            <thead>
                                <tr>
                                    <th scope="col" style="border-left: 1px solid rgb(0, 0, 0); background:lightgrey;"></th>
                                    <th colspan="2" scope="col" style="text-align:center; border: 1px solid rgb(0, 0, 0); background:lightgrey;">
                                        <div >Spenderorganismus</div>
                                    </th>
                                    <th colspan="2" scope="col" style="text-align:center; border: 1px solid rgb(0, 0, 0); background:lightgrey;">
                                        <div>Nukleinsäure</div>
                                    </th>
                                    <th scope="col" style="border-right: 1px solid rgb(0, 0, 0); background:lightgrey;"></th>
                                </tr>
                                <tr>
                                    <th scope="col" style='border: 1px solid rgb(0, 0, 0);'>
                                        <div>Bezeichnung</div>
                                    </th>
                                    <th scope="col" style="text-align:center; border: 1px solid rgb(0, 0, 0); background:lightgrey;">
                                        <div >Bezeichnung</div>
                                    </th>
                                    <th scope="col" style="text-align:center; border: 1px solid rgb(0, 0, 0); background:lightgrey;"> 
                                        <div>Risikogruppe</div>
                                    </th>
                                    <th scope="col" style="text-align:center; border: 1px solid rgb(0, 0, 0); background:lightgrey;">
                                        <div>Reinheitsgrad</div>
                                    </th>
                                    <th scope="col" style="text-align:center; border: 1px solid rgb(0, 0, 0); background:lightgrey;">
                                        <div>Gefährdungspotential</div>
                                    </th>
                                    <th scope="col" style="text-align:center; border: 1px solid rgb(0, 0, 0); background:lightgrey;">
                                        <div>Beschreibung</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for formz_elem in plasmid.plasmid.get_all_uncommon_formz_elements %}
                                        <tr>
                                            <td style="border-left: 1px solid rgb(0, 0, 0);">{{formz_elem.name}}</td>
                                            <td style="text-align:center; border-left: 1px solid rgb(0, 0, 0);">{% if formz_elem.get_donor_species_names %}{{formz_elem.get_donor_species_names}}{% else %}Artifiziell{% endif %}</td>
                                            <td style="text-align:center; border-right: 1px solid rgb(0, 0, 0);">{% if formz_elem.get_donor_species_risk_groups %}{{formz_elem.get_donor_species_risk_groups}}{% else %}Keine{% endif %}</td>
                                            <td style="text-align:center; border-left: 1px solid rgb(0, 0, 0); ">{{formz_elem.nuc_acid_purity.german_name|capfirst}}</td>
                                            <td style="text-align:center; border-right: 1px solid rgb(0, 0, 0);">{{formz_elem.nuc_acid_risk.german_name|capfirst}}</td>
                                            <td style="border-right: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(0, 0, 0);">{% if formz_elem.get_donor_species_max_risk_group > 1 %} {{formz_elem.description}} {% endif %}</td>
                                        </tr>
                                    {% endfor %}
                            </tbody>
                        {% else %}
                            <tbody>
                                <tr>
                                    <td colspan="6" style="text-align:center; border-right: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(0, 0, 0);">Keine unüblichen Merkmale</td>
                                </tr>
                            </tbody>
                        {% endif %}
                    {% else %}
                        <tbody>
                            <tr>
                                <td colspan="6" style="text-align:center; border-right: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(0, 0, 0);">Keine Merkmale</td>
                            </tr>
                        </tbody>
                    {% endif %}
                    
                    {% if plasmid.plasmid.get_all_common_formz_elements %}
                            <tbody>
                                <tr>
                                    <td colspan="6" style="border: 1px solid rgb(0, 0, 0); font-weight: bold; text-align:center;">Andere Merkmale, nicht relevant für die Sicherheitsbeurteilung</td>
                                </tr>
                                {% for formz_elem in plasmid.plasmid.get_all_common_formz_elements %}
                                    <tr>
                                        <td style="border-left: 1px solid rgb(0, 0, 0);">{{formz_elem.name}}</td>
                                        <td style="text-align:center; border-left: 1px solid rgb(0, 0, 0);">{% if formz_elem.get_donor_species_names %}{{formz_elem.get_donor_species_names}}{% else %}Artifiziell{% endif %}</td>
                                        <td style="text-align:center; border-right: 1px solid rgb(0, 0, 0);">{% if formz_elem.get_donor_species_risk_groups %}{{formz_elem.get_donor_species_risk_groups}}{% else %}Keine{% endif %}</td>
                                        <td style="text-align:center; border-left: 1px solid rgb(0, 0, 0); ">{{formz_elem.nuc_acid_purity.german_name|capfirst}}</td>
                                        <td style="text-align:center; border-right: 1px solid rgb(0, 0, 0);">{{formz_elem.nuc_acid_risk.german_name|capfirst}}</td>
                                        <td style="border-right: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(0, 0, 0);">{% if formz_elem.get_donor_species_max_risk_group > 1 %} {{formz_elem.description}} {% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                    {% endif %}
                </table>
                        
            {% endfor %}
        </div>
    {% endif %}

    {% if map_attachment_type != 'none' and object.get_all_plasmid_maps %}
    <h2>Plasmidkarten (wenn verfügbar)</h2>
        {% if map_attachment_type == 'png' %}
            {% for plasmid in object.get_all_plasmid_maps %}
                {% if plasmid.map %}
                <br>
                    <img alt='Plasmid #{{plasmid}}' src='data:image/png;base64,{{plasmid.convert_plasmid_map_to_base64}}'>
                {% endif %}
            {% endfor %}
        {% elif map_attachment_type == 'gbk' %}
            {% for plasmid in object.get_all_plasmid_maps %}
                {% if plasmid.map %}
                    <h3>Plasmid #{{plasmid}}</h3>
                    {% autoescape off %}
                    <p><pre>{{plasmid.utf8_encoded_gbk}}</pre></p>
                    {% endautoescape %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}

</body>

</html>