{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
    {% if cl.formset %}
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
        {% endif %}
    {% if cl.formset or action_form %}
        <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {% endif %}
    {{ media.css }}
    {% if not actions_on_top and not actions_on_bottom %}
        <style>
        #changelist table thead th:first-child {width: inherit}
        </style>
    {% endif %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media.js }}
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url "admin:index" %}">{% trans "Home" %}</a> &rsaquo;
    <a href="{% url "admin:app_list" app_label %}">{{opts.app_config.verbose_name}}</a> &rsaquo;
    <a href="../..">{{opts.verbose_name_plural|capfirst}}</a> &rsaquo;
    <a href="../">{{object|truncatewords:"18"}}</a> &rsaquo;
    {% trans "FormZ" %}
  </div>
{% endblock %}

{% block content %}
<div id="content-main">
    {% block object-tools %}
        <ul class="object-tools">
            {% block object-tools-items %}
            {% endblock %}
        </ul>
    {% endblock %}
        
    <div id='formz-header-info'>
        {% if formz_header %}
            <h2>Betreiber</h2>
            <div><span style='font-weight: bold'>Bezeichnung:</span> {{formz_header.operator}}</div>
            <div><span style='font-weight: bold'>Anschrift:</span> {{formz_header.address}}</div>
            <div><span style='font-weight: bold'>Beauftragter für Biologische Sicherheit:</span> {{formz_header.name_biosafety_officer}}</div>
            <div><span style='font-weight: bold'>S1 Genehmigung:</span> {{formz_header.s1_approval_file_num}}; erteilt am {{formz_header.s1_approval_date | date:"d.m.Y"}}</div>
            {% if object.s2_work %}
                <div><span style='font-weight: bold'>S2 Genehmigung:</span> {{formz_header.s2_approval_file_num}}; erteilt am {{formz_header.s2_approval_date | date:"d.m.Y"}}</div>
            {% endif %}
        {% else %}
            <h2>Kein Betreiber</h2>
        {% endif %}

        </br>

        <h2>Details zum Organismus</h2>
        <div><span style='font-weight: bold'>Bezeichnung:</span> {{object}}</div>
        <div><span style='font-weight: bold'>Empfängerorganismus:</span> <span style='font-style: italic'>{{storage_location.species_name.name_for_search}}</span>
        {% if object.formz_ecoli_strains %}
            {% if object.formz_ecoli_strains.all|length == 1 %}
                    {% for ecoli in object.formz_ecoli_strains.all %}
                        (Stamm: <a style='color:#447e9b;' href="{% url 'admin:collection_management_ecolistrain_change' ecoli.id %}">{{ecoli.name}}</a> - Hintergrund {{ecoli.background}}; Risikogrouppe: {{storage_location.species_risk_group}})
                    {% endfor %}
                {% else %}
                    {% for ecoli in object.formz_ecoli_strains.all %}
                        {% if forloop.first %}
                            (Stamm: <a style='color:#447e9b;' href="{% url 'admin:collection_management_ecolistrain_change' ecoli.id %}">{{ecoli.name}}</a> - Hintergrund {{ecoli.background}},
                        {% elif forloop.last %}
                            <a style='color:#447e9b;' href="{% url 'admin:collection_management_ecolistrain_change' ecoli.id %}">{{ecoli.name}}</a> - Hintergrund {{ecoli.background}}; Risikogrouppe: {{storage_location.species_risk_group}})
                        {% else %}
                            <a style='color:#447e9b;' href="{% url 'admin:collection_management_ecolistrain_change' ecoli.id %}">{{ecoli.name}}</a> - Hintergrund {{ecoli.background}},
                        {% endif %}
                    {% endfor %}
            {% endif %}
        {% else %}
            (Risikogrouppe: {{storage_location.species_risk_group}})
        {% endif %}</div>
        <div><span style='font-weight: bold'>Risikogruppe:</span> {{object.formz_risk_group}}</div>

        {% if object.chromosomal_genotype %}
            <div><span style='font-weight: bold'>Genotyp:</span> {{object.chromosomal_genotype}}</div>
        {% endif %}
        <div><span style='font-weight: bold'>Projekt/e:</span>
            {% if object.formz_projects.all|length == 1 %}
                {% for project in object.formz_projects.all %}
                    <a style='color:#447e9b;' href="{% url 'admin:formz_formzproject_change' project.id %}">{{project.short_title}}</a>
                    {% if project.parent_project%}
                        (Hauptproject: <a style='color:#447e9b;' href="{% url 'admin:formz_formzproject_change' project.parent_project.id %}">{{project.parent_project.short_title}}</a>)
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for project in object.formz_projects.all %}
                    {% if forloop.last %}
                        <a style='color:#447e9b;' href="{% url 'admin:formz_formzproject_change' project.id %}">{{project.short_title}}</a>
                        {% if project.parent_project%}
                            (Hauptproject: <a style='color:#447e9b;' href="{% url 'admin:formz_formzproject_change' project.parent_project.id %}">{{project.parent_project.short_title}}</a>)
                        {% endif %}
                    {% else %}
                        <a style='color:#447e9b;' href="{% url 'admin:formz_formzproject_change' project.id %}">{{project.short_title}}</a>
                        {% if project.parent_project%}
                            (Hauptproject: <a style='color:#447e9b;' href="{% url 'admin:formz_formzproject_change' project.parent_project.id %}">{{project.parent_project.short_title}}</a>),
                        {% else %}
                        ,
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        {% if object.formz_gentech_methods.all %}
        <div><span style='font-weight: bold'>Gentechnische Arbeitsmethod/en:</span>
            {% if object.formz_gentech_methods.all|length == 1 %}
                {% for method in object.formz_gentech_methods.all %}
                    {{method.german_name}}
                {% endfor %}
            {% else %}
                {% for method in object.formz_gentech_methods.all %}
                    {% if forloop.last %}
                        {{method.german_name}}
                    {% else %}
                        {{method.german_name}},
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
        </div>
        {% if object.zkbs_cell_line and object.zkbs_cell_line.name != 'none' %}
            <div><span style='font-weight: bold'>ZKBS Datenbank Zelllinien:</span> <a href="{% url 'admin:formz_zkbscellline_change' object.zkbs_cell_line.id %}">{{object.zkbs_cell_line}}</a></div>
        {% endif %}
        <div><span style='font-weight: bold'>Erzeugt:</span> {{object.created_date_time | date:"d.m.Y"}}</div>
        <div><span style='font-weight: bold'>Entsorgt:</span> 
            {% if object.destroyed_date %}
                {{object.destroyed_date | date:"d.m.Y"}}
            {% else %}
                Nein
            {% endif %}
        </div>
        <div><span style='font-weight: bold'>Bestätigt durch Projektleiter:</span> 
            {% if object.last_changed_approval_by_pi is not None %}
                {% if object.last_changed_approval_by_pi %}
                    {{object.approval_by_pi_date_time | date:"d.m.Y, H:i:s"}} ({{object.approval_user}})
                {% else %}
                    Nein
                {% endif %}
            {% else %}
                {% if object.created_approval_by_pi %}
                    {{object.approval_by_pi_date_time | date:"d.m.Y, H:i:s"}} ({{object.approval_user}})
                {% else %}
                    Nein
                {% endif %}
            {% endif %}
        </div>
        <div><span style='font-weight: bold'>Lagerort:</span> {{storage_location.storage_location}}</div>
        </br>
    </div>

    {% if object.instock_plasmids %}
        <div id='instock-plasmids'>
            <h3>Plasmid/e die zur Erschaffung des Organismus genutzt wurden</h3>
            {% for plasmid in object.instock_plasmids %}
                <li>
                    <a style='color:#447e9b;' href="{% url 'admin:collection_management_plasmid_change' plasmid.id %}">Plasmid #{{plasmid}}</a>
                    {% if plasmid.map %}
                        (<a style='color:#447e9b;text-transform: none' href="{{plasmid.map_gbk.url}}">.gbk</a>,
                        <a  class="image-link" style='color:#447e9b; text-transform: none' href="{{plasmid.map_png.url}}">.png</a>)
                    {% endif %}
                    {% if plasmid.vector_zkbs %}
                        {% if plasmid.vector_zkbs.name != 'none' %}
                            <span style='text-transform: none'>- ZKBS Plasmid </span><a style='color:#447e9b;text-transform: none' href="{% url 'admin:formz_zkbsplasmid_change' plasmid.vector_zkbs.id %}">{{plasmid.vector_zkbs.name}}</a>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </div>
    {% endif %}

    {% if object.uncommon_formz_elements or object.common_formz_elements %}
        <div id='formz-instock-elements'>    
            <h3>Bezeichnung und für die Sicherheitsbeurteilung bedeutsame Merkmale des GVO</h3>
                <table>
                    <thead>
                        <tr>
                            <th scope="col" class="column-name" style="text-align:center"></th>
                            <th colspan="2" scope="col" class="column-donor_organism" style="text-align:center; border: 1px solid #eee;">
                                <div >Spenderorganismus</div>
                            </th>
                            <th colspan="2" scope="col" class="column-nuc_acid_purity" style="text-align:center">
                                <div>Nukleinsäure</div>
                            </th>
                        </tr>
                        <tr>
                            <th scope="col" class="column-name">
                                <div>Bezeichnung</div>
                            </th>
                            <th scope="col" class="column-donor_organism" style="text-align:center; border-left: 1px solid #eee;">
                                <div >Bezeichnung</div>
                            </th>
                            <th scope="col" class="column-donor_organism_risk" style="text-align:center; border-right: 1px solid #eee;"> 
                                <div>Risikogruppe</div>
                            </th>
                            <th scope="col" class="column-nuc_acid_purity" style="text-align:center">
                                <div>Reinheitsgrad</div>
                            </th>
                            <th scope="col" class="column-nuc_acid_risk" style="text-align:center">
                                <div>Gefährdungspotential</div>
                            </th>
                        </tr>
                    </thead>
                    {% if object.uncommon_formz_elements %}
                        <tbody>
                            {% for formz_elem in object.uncommon_formz_elements %}
                                <tr class="row">
                                    <td class="field-name"><a href="{% url 'admin:formz_formzbaseelement_change' formz_elem.id %}">{{formz_elem.name}}</a></td>
                                    <td class="field-donor_organism" style="text-align:center; border-left: 1px solid #eee;">{% if formz_elem.get_donor_species_names %}{{formz_elem.get_donor_species_names}}{% else %}Artifiziell{% endif %}</td>
                                    <td class="field-donor_organism_risk" style="text-align:center; border-right: 1px solid #eee;">{% if formz_elem.get_donor_species_risk_groups %}{{formz_elem.get_donor_species_risk_groups}}{% else %}Keine{% endif %}</td>
                                    <td class="field-nuc_acid_purity" style="text-align:center">{{formz_elem.nuc_acid_purity.german_name|capfirst}}</td>
                                    <td class="field-nuc_acid_risk" style="text-align:center">{{formz_elem.nuc_acid_risk.german_name|capfirst}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% else %}
                        <tbody>
                        <tr class="row">
                            <td colspan="5" class="field">Keine unüblichen Merkmale</td>
                        </tr>
                        </tbody>
                    {% endif %}
                </table>
                </br>

            {% if object.common_formz_elements %}
                <table>
                    <thead>
                        <th  colspan="5" scope="col" class="column-common_features">
                            Andere Merkmale, nicht relevant für die Sicherheitsbeurteilung
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td  colspan="5" scope="col" class="column-common_features">
                                {% for formz_elem in object.common_formz_elements %}
                                    {% if not forloop.last %}
                                        <a href="{% url 'admin:formz_formzbaseelement_change' formz_elem.id %}">{{formz_elem.name}}</a>,
                                    {% else %}
                                        <a href="{% url 'admin:formz_formzbaseelement_change' formz_elem.id %}">{{formz_elem.name}}</a>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
        </div>
    {% else %}
        </br>
        <div>Keine Information vorhanden</div>
    {% endif %}

    {% if object.transient_episomal_plasmids %}
        <div id='transient-plasmids'>      
            
            </br>
            
            {% if object.s2_work %}
                <h2> In den Organismus transduktierte Plasmide</h2>    
                <div>Dieser Organismus wurde durch virale Transduktion des folgenden Plasmids/der folgenden Plasmide geschaffen.</div>
            {% else %}
                <h2> In den Organismus transient {% if transfected %}transfizierte{% else %}transformierte{% endif %} Plasmide</h2>
                <div>Dieser Organismus wurde mit dem/n folgenen Plasmid/en transient {% if transfected %}transfiziert{% else %}transformiert{% endif %}.</div>
            {% endif %}
           
            {% for plasmid in object.transient_episomal_plasmids %}

                </br>
                <table>
                    <thead>
                        <tr>
                            <th  colspan="5" scope="col" style="background:#ccc;" class="column-plasmid">
                                <a style='color:#447e9b;' href="{% url 'admin:collection_management_plasmid_change' plasmid.plasmid.id %}">Plasmid #{{plasmid.plasmid}} </a>
                                <span style="text-transform: none">
                                    {% if plasmid.plasmid.map %}
                                        (<a style='color:#447e9b;' href="{{plasmid.plasmid.map_gbk.url}}">.gbk</a>,
                                        <a  class="image-link" style='color:#447e9b;' href="{{plasmid.plasmid.map_png.url}}">.png</a>);
                                    {% endif %}
                                    {% if not plasmid.plasmid.map and plasmid.created_date %}
                                    (Organismus {% if transfected %}transfiziert{% else %}transformiert{% endif %} am {{plasmid.created_date | date:"d.m.Y"}},
                                    {% else %}
                                    Organismus {% if transfected %}transfiziert{% else %}transformiert{% endif %} am {{plasmid.created_date | date:"d.m.Y"}},
                                    {% endif %}

                                    unter Projekt/e:

                                    {% if plasmid.formz_projects.all|length == 1 %}
                                        {% for project in plasmid.formz_projects.all %}
                                            <a style='color:#447e9b;' href="{% url 'admin:formz_formzproject_change' project.id %}">{{project.short_title}}</a>;
                                        {% endfor %}
                                    {% else %}
                                        {% for project in plasmid.formz_projects.all %}
                                            {% if forloop.last %}
                                                <a style='color:#447e9b;' href="{% url 'admin:formz_formzproject_change' project.id %}">{{project.short_title}}</a>;
                                            {% else %}
                                                <a style='color:#447e9b;' href="{% url 'admin:formz_formzproject_change' project.id %}">{{project.short_title}}</a>,
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if plasmid.destroyed_date %}
                                        entsorgt am {{plasmid.destroyed_date | date:"d.m.Y"}})
                                    {% else %}
                                        noch nicht entsorgt)
                                    {% endif %}
                                </span>
                                
                                {% if plasmid.plasmid.vector_zkbs %}
                                    {% if plasmid.plasmid.vector_zkbs.name != 'none' %}
                                        <span style='text-transform: none'>- ZKBS Plasmid </span><a style='color:#447e9b;text-transform: none' href="{% url 'admin:formz_zkbsplasmid_change' plasmid.plasmid.vector_zkbs.id %}">{{plasmid.plasmid.vector_zkbs.name}}</a>
                                    {% endif %}
                                {% endif %}
                            </th>
                        </tr>
                    </thead>
                        {% if plasmid.plasmid.formz_elements.all %}
                            {% if plasmid.plasmid.get_all_uncommon_formz_elements %}
                                <thead>
                                    <tr>
                                        <th scope="col" class="column-name" style="text-align:center">
                                        </th>
                                        <th colspan="2" scope="col" class="column-donor_organism" style="text-align:center; border: 1px solid #eee;">
                                            <div >Spenderorganismus</div>
                                        </th>
                                        <th colspan="2" scope="col" class="column-nuc_acid_purity" style="text-align:center">
                                            <div>Nukleinsäure</div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th scope="col" class="column-name">
                                            <div>Bezeichnung</div>
                                        </th>
                                        <th scope="col" class="column-donor_organism" style="text-align:center; border-left: 1px solid #eee;">
                                            <div >Bezeichnung</div>
                                        </th>
                                        <th scope="col" class="column-donor_organism_risk" style="text-align:center; border-right: 1px solid #eee;"> 
                                            <div>Risikogruppe</div>
                                        </th>
                                        <th scope="col" class="column-nuc_acid_purity" style="text-align:center">
                                            <div>Reinheitsgrad</div>
                                        </th>
                                        <th scope="col" class="column-nuc_acid_risk" style="text-align:center">
                                            <div>Gefährdungspotential</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                        {% for formz_elem in plasmid.plasmid.get_all_uncommon_formz_elements %}
                                            <tr class="row">
                                                <td class="field-name"><a href="{% url 'admin:formz_formzbaseelement_change' formz_elem.id %}">{{formz_elem.name}}</a></td>
                                                <td class="field-donor_organism" style="text-align:center; border-left: 1px solid #eee;">{% if formz_elem.get_donor_species_names %}{{formz_elem.get_donor_species_names}}{% else %}Artifiziell{% endif %}</td>
                                                <td class="field-donor_organism_risk" style="text-align:center; border-right: 1px solid #eee;">{% if formz_elem.get_donor_species_risk_groups %}{{formz_elem.get_donor_species_risk_groups}}{% else %}Keine{% endif %}</td>
                                                <td class="field-nuc_acid_purity" style="text-align:center">{{formz_elem.nuc_acid_purity.german_name|capfirst}}</td>
                                                <td class="field-nuc_acid_risk" style="text-align:center">{{formz_elem.nuc_acid_risk.german_name|capfirst}}</td>
                                            </tr>
                                        {% endfor %}
                                </tbody>
                            {% else %}
                                <tbody>
                                <tr class="row">
                                    <td colspan="5" class="field">Keine unübliche Merkmale</td>
                                </tr>
                                </tbody>
                            {% endif %}
                        {% else %}
                            <tbody>
                                <tr>
                                    <td  colspan="5" scope="col" class="column-common_features">Keine Merkmale</td>
                                </tr>
                            </tbody>
                        {% endif %}
                        </table>        
                        
                        {% if plasmid.plasmid.get_all_common_formz_elements %}
                            <table>
                                <thead>
                                    <th  colspan="5" scope="col" class="column-common_features">
                                            Andere Merkmale, nicht relevant für die Sicherheitsbeurteilung
                                        </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td  colspan="5" scope="col" class="column-common_features">
                                            {% for formz_elem in plasmid.plasmid.get_all_common_formz_elements %}
                                                {% if not forloop.last %}
                                                    <a href="{% url 'admin:formz_formzbaseelement_change' formz_elem.id %}">{{formz_elem.name}}</a>,
                                                {% else %}
                                                    <a href="{% url 'admin:formz_formzbaseelement_change' formz_elem.id %}">{{formz_elem.name}}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if object.s2_plasmids %}

        <div id='s2-plasmids'>      
            
            </br>
            <h4>Virusverpackung</h4>
            <div>Das oben genannten Plasmid/die oben genannten Plasmide wurden mit dem/den unten genannten Plasmid/Plasmiden zum verpacken viraler Partikel in <a href="{% url 'admin:collection_management_mammalianline_change' 157 %}">HEK293T cells</a> genutzt.</div>
                
            {% for plasmid in object.s2_plasmids %}

                    </br>
                    <table>
                        <thead>
                            <tr>
                                <th  colspan="5" scope="col" style="background:#ccc;" class="column-plasmid">
                                    <a style='color:#447e9b;' href="{% url 'admin:collection_management_plasmid_change' plasmid.plasmid.id %}">Plasmid #{{plasmid.plasmid}} </a>
                                    <span style="text-transform: none">
                                        {% if plasmid.plasmid.map %}
                                            (<a style='color:#447e9b;' href="{{plasmid.plasmid.map_gbk.url}}">.gbk</a>,
                                            <a  class="image-link" style='color:#447e9b;' href="{{plasmid.plasmid.map_png.url}}">.png</a>);
                                        {% endif %}
                                        {% if not plasmid.plasmid.map and plasmid.created_date %}
                                        (Organismus {% if transfected %}transfiziert{% else %}transformiert{% endif %} am {{plasmid.created_date | date:"d.m.Y"}},
                                        {% else %}
                                        Organismus {% if transfected %}transfiziert{% else %}transformiert{% endif %} am {{plasmid.created_date | date:"d.m.Y"}},
                                        {% endif %}

                                        unter Projekt/e:

                                        {% if plasmid.formz_projects.all|length == 1 %}
                                            {% for project in plasmid.formz_projects.all %}
                                                <a style='color:#447e9b;' href="{% url 'admin:formz_formzproject_change' project.id %}">{{project.short_title}}</a>;
                                            {% endfor %}
                                        {% else %}
                                            {% for project in plasmid.formz_projects.all %}
                                                {% if forloop.last %}
                                                    <a style='color:#447e9b;' href="{% url 'admin:formz_formzproject_change' project.id %}">{{project.short_title}}</a>;
                                                {% else %}
                                                    <a style='color:#447e9b;' href="{% url 'admin:formz_formzproject_change' project.id %}">{{project.short_title}}</a>,
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                        {% if plasmid.destroyed_date %}
                                            entsorgt am {{plasmid.destroyed_date | date:"d.m.Y"}})
                                        {% else %}
                                            noch nicht entsorgt)
                                        {% endif %}
                                    </span>
                                    {% if plasmid.plasmid.vector_zkbs %}
                                        {% if plasmid.plasmid.vector_zkbs.name != 'none' %}
                                            <span style='text-transform: none'>- ZKBS Plasmid </span><a style='color:#447e9b;text-transform: none' href="{% url 'admin:formz_zkbsplasmid_change' plasmid.plasmid.vector_zkbs.id %}">{{plasmid.plasmid.vector_zkbs.name}}</a>
                                        {% endif %}
                                    {% endif %}
                                </th>
                            </tr>
                        </thead>
                            {% if plasmid.plasmid.formz_elements.all %}
                                {% if plasmid.plasmid.get_all_uncommon_formz_elements %}
                                    <thead>
                                        <tr>
                                            <th scope="col" class="column-name" style="text-align:center">
                                            </th>
                                            <th colspan="2" scope="col" class="column-donor_organism" style="text-align:center; border: 1px solid #eee;">
                                                <div >Spenderorganismus</div>
                                            </th>
                                            <th colspan="2" scope="col" class="column-nuc_acid_purity" style="text-align:center">
                                                <div>Nukleinsäure</div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th scope="col" class="column-name">
                                                <div>Bezeichnung</div>
                                            </th>
                                            <th scope="col" class="column-donor_organism" style="text-align:center; border-left: 1px solid #eee;">
                                                <div >Bezeichnung</div>
                                            </th>
                                            <th scope="col" class="column-donor_organism_risk" style="text-align:center; border-right: 1px solid #eee;"> 
                                                <div>Risikogruppe</div>
                                            </th>
                                            <th scope="col" class="column-nuc_acid_purity" style="text-align:center">
                                                <div>Reinheitsgrad</div>
                                            </th>
                                            <th scope="col" class="column-nuc_acid_risk" style="text-align:center">
                                                <div>Gefährdungspotential</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            {% for formz_elem in plasmid.plasmid.get_all_uncommon_formz_elements %}
                                                <tr class="row">
                                                    <td class="field-name"><a href="{% url 'admin:formz_formzbaseelement_change' formz_elem.id %}">{{formz_elem.name}}</a></td>
                                                    <td class="field-donor_organism" style="text-align:center; border-left: 1px solid #eee;">{% if formz_elem.get_donor_species_names %}{{formz_elem.get_donor_species_names}}{% else %}Artifiziell{% endif %}</td>
                                                    <td class="field-donor_organism_risk" style="text-align:center; border-right: 1px solid #eee;">{% if formz_elem.get_donor_species_risk_groups %}{{formz_elem.get_donor_species_risk_groups}}{% else %}Keine{% endif %}</td>
                                                    <td class="field-nuc_acid_purity" style="text-align:center">{{formz_elem.nuc_acid_purity.german_name|capfirst}}</td>
                                                    <td class="field-nuc_acid_risk" style="text-align:center">{{formz_elem.nuc_acid_risk.german_name|capfirst}}</td>
                                                </tr>
                                            {% endfor %}
                                    </tbody>
                                {% else %}
                                    <tbody>
                                    <tr class="row">
                                        <td colspan="5" class="field">Keine unübliche Merkmale</td>
                                    </tr>
                                    </tbody>
                                {% endif %}
                            {% else %}
                                <tbody>
                                    <tr>
                                        <td  colspan="5" scope="col" class="column-common_features">Keine Merkmale</td>
                                    </tr>
                                </tbody>
                            {% endif %}
                            </table>        
                            
                            {% if plasmid.plasmid.get_all_common_formz_elements %}
                                <table>
                                    <thead>
                                        <th  colspan="5" scope="col" class="column-common_features">
                                                Andere Merkmale, nicht relevant für die Sicherheitsbeurteilung
                                            </th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td  colspan="5" scope="col" class="column-common_features">
                                                {% for formz_elem in plasmid.plasmid.get_all_common_formz_elements %}
                                                    {% if not forloop.last %}
                                                        <a href="{% url 'admin:formz_formzbaseelement_change' formz_elem.id %}">{{formz_elem.name}}</a>,
                                                    {% else %}
                                                        <a href="{% url 'admin:formz_formzbaseelement_change' formz_elem.id %}">{{formz_elem.name}}</a>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            {% endif %}
            {% endfor %}
        </div>
    {% endif %}

</div>
{% endblock %}

{% block footer %}
    <div id="footer"></div>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery.magnific-popup.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
        $('.image-link').magnificPopup({type:'image'});
        });
    </script>
    <link href="/static/admin/css/vendor/magnific-popup.css" type="text/css" media="all" rel="stylesheet">
{% endblock %}