{% extends "admin/base_site.html" %}
{% load i18n static %}

{% load app_filters %} 
{% load homepage_urls %} 

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        {% if app.name == "Laboratory management" or app.name == "Order management" %}
        {% else %}
            <div class="app-{{ app.app_label }} module">
                <table>
                <caption>
                    <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
                </caption>
                {% for model in app.models %}
                    <tr class="model-{{ model.object_name|lower }}">
                    {% if model.admin_url %}
                        <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                    {% else %}
                        <th scope="row">{{ model.name }}</th>
                    {% endif %}
    
                    {% if model.add_url %}
                        <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                    {% else %}
                        <td>&nbsp;</td>
                    {% endif %}
    
                    {% if model.admin_url %}
                        <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                    {% else %}
                        <td>&nbsp;</td>
                    {% endif %}
                    </tr>
                {% endfor %}
                </table>
            </div>
        {% endif %}
    {% endfor %}

{% url 'admin:index' as admin_index_url %}

{% if request.path|stringformat:"s" == admin_index_url and not user|has_group:"Guest" %}
    <div class="module">
            <table>
                <caption>Laboratory Management</caption>
                {% get_homepage_urls as homepage_urls %}
                {% for category in homepage_urls %}
                    {% for element in category %}
                        {% if forloop.first%}
                            <tr  style="background-color:{{element.1}};color:#447e9b;">
                                <th scope="row">{{ element.0 }}</th>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            {% if element.0|stringformat:"s" == "Ordering" %}
                                <tr>
                                    <th scope="row" style="font-weight: normal;"><a href={{admin_index_url|add:"order_management/order/add/"}}>New order</a></th>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>    
                                <tr>
                                    <th scope="row" style='font-weight: normal;'><a href="{{ user.labuser.personal_order_list_url }}" target="_blank">My orders</a></th>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            {% endif %}
                        {% else %}
                            <tr>
                                <th scope="row"><a href="{{ element.1 }}" target="_blank" style="font-weight: normal;">{{element.0}}</a></th>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>        
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                {% if user|has_group:"Lab manager" %}
                    <tr style="background-color:#79aec8;">
                        <th scope="row" style="color:white;font-weight: normal;">Laboratory Management Admin</th>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>    
                    {% for app in app_list %}
                        {% if app.name == "Laboratory management" or app.name == "Order management" %}
                            <tr style="background-color:#c4dce8;">
                                {% if app.name == "Laboratory management" %}
                                    <th scope="row" style="color:#447e9b;">HomePage links</th>
                                {% elif app.name == "Order management" %}
                                    <th scope="row" style="color:#447e9b;">Ordering</th>
                                {% endif %}
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>  
                        
                            {% for model in app.models %}
                                <tr class="model-{{ model.object_name|lower }}">
                                {% if model.admin_url %}
                                    <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                                {% else %}
                                    <th scope="row">{{ model.name }}</th>
                                {% endif %}
                
                                {% if model.add_url %}
                                    <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                                {% else %}
                                    <td>&nbsp;</td>
                                {% endif %}
                
                                {% if model.admin_url %}
                                    <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                                {% else %}
                                    <td>&nbsp;</td>
                                {% endif %}
                                </tr>
                                {% endfor %}

                        {% endif %}
                    {% endfor %}
                {% endif %}
            </table>
    </div>
{% endif %}

{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent actions' %}</h2>
        <h3>{% trans 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
