{% extends "admin/object_history.html" %}
{% load i18n %}
{% load url from simple_history_compat %}
{% load admin_urls %}
{% load display_list from simple_history_admin_list %}

{% block extrastyle %}
{{ block.super }}
<style>
  .nowrap {
    white-space: nowrap
  }

  .historytablelastrowlast,
  .historytablelastrowlast td {
    border-bottom: 1px solid var(--body-fg) !important;
  }

  .historytableheader {
    text-align: center;
    text-transform: uppercase;
  }

  .historytableroweven {
    background: var(--body-bg) !important;
  }

  .historytablerowodd {
    background: var(--darkened-bg) !important;

  }

</style>
{% endblock %}


{% block content %}
<div id="content-main">
  <div class='results'>
  
  {% if object.history_changes %}

  <table id='historytable' style="width:100%">
    <tr style="background-color: var(--primary)">
      <th class="historytableheader">Timestamp</th>
      <th class="historytableheader">User</th>
      <th class="historytableheader">Field</th>
      <th class="historytableheader">From</th>
      <th class="historytableheader">To</th>
    </tr>
    {% for history_change in object.history_changes %}
        <tr class="historytablerow{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}{% if history_change.field_changes|length == 1 %} historytablelastrowlast{% endif %}">
          <td rowspan="{{history_change.field_changes|length}}" class="nowrap historytablelastrowlast">
            {{history_change.timestamp}}
          </td>
          <td rowspan="{{history_change.field_changes|length}}" class="nowrap historytablelastrowlast">{% if history_change.activity_user %}<a
              href="{% url "admin:common_user_change" history_change.activity_user.id %}">{{history_change.activity_user}}</a>{% else %}Unknown{% endif %}</td>
          {% for field_change in history_change.field_changes %}
            {% if not forloop.first %}
              <tr class="historytablerow{% if forloop.parentloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}{% if forloop.last %} historytablelastrowlast{% endif %}">
            {% endif %}
            <td class="nowrap">
              {{field_change.field.verbose_name|capfirst}}
            </td>
            <td>
              {{field_change.old_value_prettified}}
            </td>
            <td>
              {{field_change.new_value_prettified}}
            </td>
          </tr>
          {% endfor %}
    {% endfor %}
  </table>

  {% else %}
  <div>
    This record does not have a change history. </br></br>
  </div>
  {% endif %}
  </div>

</div>
{% endblock %}