{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify_collection %}
{% load app_filters %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/vendor/magnific-popup.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "admin/css/custom_style_magnific-popup.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "admin/css/spinner_loader.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "admin/css/collection_plasmid_change_form.css" %}">
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% blocktrans with name=opts.verbose_name %}Add {{ name }}{% endblocktrans %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>

{% if not add and original.id%}
{% include "admin/navigation_floater.html" %}
{% endif %}

{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    
    {% if show_obj_permission %}
      {% url opts|admin_urlname:'permissions' original.pk|admin_urlquote as history_url %}
      <li><a href="{% add_preserved_filters history_url %}" class="permissionslink">{% trans "Object permissions" %}</a></li>
    {% endif %}
    
    {% if plasmid_id_list %}
      <li><a href="/collection/plasmid/?q-l=on&q=id+in+{{plasmid_id_list}}">{% trans "Plasmids" %}</a></li>
    {% endif %}
    
    <li>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
    </li>

    {% if show_formz %}
      <li>
        <a href="{% url "admin:app_list" app_label %}{{opts.model_name}}/{{object_id}}/formz">{% trans "FormZ" %}</a>
      </li>
    {% endif %}

    {% if original.map %}
    <li>
      <div class="find-oligo">
        <div>{% trans "Find Oligos" %}</div>
        <a title='Download result as .dna file' style="pointer-events: all;" onclick="downloadMapWithImportedOligos(event)" download_url="{% url "admin:app_list" app_label %}{{opts.model_name}}/{{object_id}}/find_oligos/?file_format=dna">🠇</a>
        <a title='View result in OVE' style='margin-left:5px' class="magnific-popup-iframe-findoligos" href="{{original.find_oligos_map_gbk_ove_url}}">⊙</a>
      </div>
    </li>
    {% endif %}

    <li>
      <a href="/collection/wormstrain/?q-l=on&q=allele_id+%3D+{{original.pk}}">Strains</a>
    </li>

    {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% block admin_change_form_document_ready %}
    <script type="text/javascript"
            id="django-admin-form-add-constants"
            src="{% static 'admin/js/change_form.js' %}"
            {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
            {% endif %}>
    </script>

    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jqueryui/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/admin/ShowLoading.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/admin/wormstrainallele_change_form.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery.magnific-popup.min.js' %}"></script>
    <script type="text/javascript">
      const MagnificiFrameClassIds = ['magnific-popup-iframe-map', "magnific-popup-iframe-findoligos"];
      const MagnificImgClassIds = ['magnific-popup-img-map'];
      {% if original.map %} const oveUrls = {map: "{{original.map_ove_url}}"}; {% else %} const oveUrls = {}; {% endif %}
      {% if original.map_gbk %} oveUrls['map_gbk'] = "{{original.map_ove_url_gbk}}"; {% endif %}
      const freeTextFieldIds = [['lab_identifier', true]];
    </script>
    <script type="text/javascript" src="{% static 'admin/js/admin/MagnificPopUpiFrame.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/admin/MagnificPopUpImg.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/admin/choice_with_freetext_field.js' %}"></script>
{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}