{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
    {% if cl.formset %}
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
        {% endif %}
    {% if cl.formset or action_form %}
        <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {% endif %}
    {{ media.css }}
    {% if not actions_on_top and not actions_on_bottom %}
        <style>
        #changelist table thead th:first-child {width: inherit}
        </style>
    {% endif %}
    <link rel="stylesheet" type="text/css" media="all" href="/static/admin/css/vendor/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/custom_style_magnific-popup.css" %}">
    <style>
        .magnific-popup-iframe-plasmid-map, 
        .magnific-popup-iframe-transient-episomal-plasmid-map,
        .magnific-popup-iframe-s2-plasmid-map
        {
            padding-left:5px;
        }

        thead th a:link, thead th a:visited {
            color: var(--link-fg);
            text-decoration: none;
            transition: color 0.15s, background 0.15s;
        }

        thead th a:focus, thead th a:hover {
            color: var(--link-hover-color);
        }
    </style>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media.js }}
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url "admin:index" %}">{% trans "Home" %}</a> &rsaquo;
    <a href="{% url "admin:app_list" app_label %}">{{opts.app_config.verbose_name}}</a> &rsaquo;
    <a href="../..">{{opts.verbose_name_plural|capfirst}}</a> &rsaquo;
    <a href="../">{{object|truncatewords:"18"}}</a> &rsaquo;
    {% trans "FormZ" %}
  </div>
{% endblock %}

{% block content %}
<div id="content-main">
    {% block object-tools %}
        <ul class="object-tools">
            {% block object-tools-items %}
            {% endblock %}
        </ul>
    {% endblock %}
        
    <div id='formz-header-info'>
        {% if formz_header %}
            <h2>Betreiber</h2>
            <div><span style='font-weight: bold'>Bezeichnung:</span> {{formz_header.operator}}</div>
            <div><span style='font-weight: bold'>Anschrift:</span> {{formz_header.address}}</div>
            <div><span style='font-weight: bold'>Beauftragter für Biologische Sicherheit:</span> {{formz_header.name_biosafety_officer}}</div>
            <div><span style='font-weight: bold'>S1 Genehmigung:</span> {{formz_header.s1_approval_file_num}}; erteilt am {{formz_header.s1_approval_date | date:"d.m.Y"}}</div>
            {% if object.s2_work %}
                <div><span style='font-weight: bold'>S2 Genehmigung:</span> {{formz_header.s2_approval_file_num}}; erteilt am {{formz_header.s2_approval_date | date:"d.m.Y"}}</div>
            {% endif %}
        {% else %}
            <h2>Kein Betreiber</h2>
        {% endif %}

        </br>

        <h2>Details zum Organismus</h2>
        <div><span style='font-weight: bold'>Bezeichnung:</span> {{object}} {% if object.supplier%}({{object.supplier}}){% endif %}</div>
        <div><span style='font-weight: bold'>Risikogruppe:</span> {{object.formz_risk_group}}</div>
        <div><span style='font-weight: bold'>Empfängerorganismus:</span> <span style='font-style: italic'>{{storage_location.species_name.name_for_search}}</span>
        {% if object.formz_ecoli_strains %}
            {% if object.formz_ecoli_strains.all|length == 1 %}
                    {% for ecoli in object.formz_ecoli_strains.all %}
                        (Stamm: <a class='magnific-popup-iframe-ecolistrain' href="{% url 'admin:collection_management_ecolistrain_change' ecoli.id %}?_to_field=id&_popup=1" target="_blank">{{ecoli.name}}</a> - Hintergrund {{ecoli.background}}; Risikogruppe: {{ecoli.formz_risk_group}})
                    {% endfor %}
                {% else %}
                    {% for ecoli in object.formz_ecoli_strains.all %}
                        {% if forloop.first %}
                            (Stamm: <a class='magnific-popup-iframe-ecolistrain' href="{% url 'admin:collection_management_ecolistrain_change' ecoli.id %}?_to_field=id&_popup=1" target="_blank">{{ecoli.name}}</a> - Hintergrund {{ecoli.background}},
                        {% elif forloop.last %}
                            <a class='magnific-popup-iframe-ecolistrain' href="{% url 'admin:collection_management_ecolistrain_change' ecoli.id %}?_to_field=id&_popup=1" target="_blank">{{ecoli.name}}</a> - Hintergrund {{ecoli.background}}; Risikogruppe: {{ecoli.formz_risk_group}})
                        {% else %}
                            <a class='magnific-popup-iframe-ecolistrain' href="{% url 'admin:collection_management_ecolistrain_change' ecoli.id %}?_to_field=id&_popup=1" target="_blank">{{ecoli.name}}</a> - Hintergrund {{ecoli.background}},
                        {% endif %}
                    {% endfor %}
            {% endif %}
        {% else %}
            (Risikogruppe: {{storage_location.species_risk_group}})
        {% endif %}</div>
        {% if object.genotype %}
        <div><span style='font-weight: bold'>Hintergrund:</span> {{object.background}}</div>
        {% endif %}

        {% if object.chromosomal_genotype %}
            <div><span style='font-weight: bold'>Genotyp:</span> {{object.chromosomal_genotype}}</div>
        {% elif object.genotype %}
            <div><span style='font-weight: bold'>Genotyp:</span> {{object.genotype}}</div>
        {% elif object.get_genotype %}
            <div><span style='font-weight: bold'>Genotyp:</span> {{object.get_genotype}}</div>
        {% endif %}
        <div><span style='font-weight: bold'>Projekt/e:</span>
            {% if object.formz_projects.all|length == 1 %}
                {% for project in object.formz_projects.all %}
                    <a class='magnific-popup-iframe-formzproject' href="{% url 'admin:formz_formzproject_change' project.id %}?_to_field=id&_popup=1" target="_blank">{{project.short_title}}</a>
                    {% if project.genetic_work_classification %} - Einstufung der gentechnischen S2-Arbeiten: {{project.genetic_work_classification}}{% endif %}
                    {% if project.parent_project%}
                        (Hauptprojekt: <a class='magnific-popup-iframe-formzproject-parent' href="{% url 'admin:formz_formzproject_change' project.parent_project.id %}?_to_field=id&_popup=1" target="_blank">{{project.parent_project.short_title}}</a>
                        {% if project.parent_project.genetic_work_classification %} - Einstufung der gentechnischen S2-Arbeiten: {{project.parent_project.genetic_work_classification}}{% endif %})
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for project in object.formz_projects.all %}
                    {% if forloop.last %}
                        <a class='magnific-popup-iframe-formzproject' href="{% url 'admin:formz_formzproject_change' project.id %}?_to_field=id&_popup=1" target="_blank">{{project.short_title}}</a>
                        {% if project.genetic_work_classification %} - Einstufung der gentechnischen S2-Arbeiten: {{project.genetic_work_classification}}{% endif %}
                        {% if project.parent_project%}
                            (Hauptprojekt: <a class='magnific-popup-iframe-formzproject-parent' href="{% url 'admin:formz_formzproject_change' project.parent_project.id %}?_to_field=id&_popup=1" target="_blank">{{project.parent_project.short_title}}</a>{% if project.parent_project.genetic_work_classification %} - Einstufung der gentechnischen S2-Arbeiten: {{project.parent_project.genetic_work_classification}}{% endif %})
                        {% endif %}
                    {% else %}
                        <a href="{% url 'admin:formz_formzproject_change' project.id %}">{{project.short_title}}</a>
                        {% if project.genetic_work_classification %} - Einstufung der gentechnischen S2-Arbeiten: {{project.genetic_work_classification}}{% endif %}
                        {% if project.parent_project%}
                            (Hauptprojekt: <a class='magnific-popup-iframe-formzproject-parent' href="{% url 'admin:formz_formzproject_change' project.parent_project.id %}?_to_field=id&_popup=1" target="_blank">{{project.parent_project.short_title}}</a>{% if project.parent_project.genetic_work_classification %} - Einstufung der gentechnischen S2-Arbeiten: {{project.parent_project.genetic_work_classification}}{% endif %}),
                        {% else %}
                        ,
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        {% if object.formz_gentech_methods.all %}
        <div><span style='font-weight: bold'>Gentechnische Arbeitsmethod/en:</span>
            {% if object.formz_gentech_methods.all|length == 1 %}
                {% for method in object.formz_gentech_methods.all %}
                    {{method.german_name}}
                {% endfor %}
            {% else %}
                {% for method in object.formz_gentech_methods.all %}
                    {% if forloop.last %}
                        {{method.german_name}}
                    {% else %}
                        {{method.german_name}},
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
        </div>
        {% if object.zkbs_cell_line and object.zkbs_cell_line.name != 'none' %}
            <div><span style='font-weight: bold'>ZKBS Datenbank Zelllinien:</span> <a class='magnific-popup-iframe-zkbscellline' href="{% url 'admin:formz_zkbscellline_change' object.zkbs_cell_line.id %}?_to_field=id&_popup=1" target="_blank">{{object.zkbs_cell_line}}</a></div>
        {% endif %}
        <div><span style='font-weight: bold'>Erzeugt:</span> {{object.created_date_time | date:"d.m.Y"}}</div>
        <div><span style='font-weight: bold'>Entsorgt:</span> 
            {% if object.destroyed_date %}
                {{object.destroyed_date | date:"d.m.Y"}}
            {% else %}
                Nein
            {% endif %}
        </div>
        <div><span style='font-weight: bold'>Bestätigt durch Projektleiter:</span> 
            {% if object.last_changed_approval_by_pi is not None %}
                {% if object.last_changed_approval_by_pi %}
                    {{object.approval_by_pi_date_time | date:"d.m.Y, H:i:s"}} ({{object.approval_user.first_name}} {{object.approval_user.last_name}})
                {% else %}
                    Nein
                {% endif %}
            {% else %}
                {% if object.created_approval_by_pi %}
                    {{object.approval_by_pi_date_time | date:"d.m.Y, H:i:s"}} ({{object.approval_user.first_name}} {{object.approval_user.last_name}})
                {% else %}
                    Nein
                {% endif %}
            {% endif %}
        </div>
        <div><span style='font-weight: bold'>Lagerort:</span> {{storage_location.storage_location}}</div>
        </br>

    {% if object.instock_plasmids %}
        <div id='instock-plasmids'>
            <h3>Plasmid/e, die zur Erschaffung des Organismus genutzt wurden</h3>
            <ul>
            {% for plasmid in object.instock_plasmids %}
                <li>
                    <a class="magnific-popup-iframe-plasmid" href="{% url 'admin:collection_management_plasmid_change' plasmid.id %}?_to_field=id&_popup=1" target="_blank">Plasmid #{{plasmid}}</a>
                    {% if plasmid.map %}
                        (<a style='text-transform: none' href="{{plasmid.map_gbk.url}}">.gbk<a class="magnific-popup-iframe-plasmid-map" href={{plasmid.get_ove_url_map_gbk}}>⊙</a>,
                        <a  class="magnific-popup-img-plasmid-map" style='text-transform: none' href="{{plasmid.map_png.url}}">.png</a>)
                    {% endif %}
                    {% if plasmid.vector_zkbs %}
                        {% if plasmid.vector_zkbs.name != 'none' %}
                            <span style='text-transform: none'>- ZKBS Plasmid </span><a class='magnific-popup-iframe-zkbsplasmid' style='text-transform: none' href="{% url 'admin:formz_zkbsplasmid_change' plasmid.vector_zkbs.id %}?_to_field=id&_popup=1" target="_blank">{{plasmid.vector_zkbs.name}}</a>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if object.uncommon_formz_elements or object.common_formz_elements %}
        <div id='formz-instock-elements'>    
            <h3>Bezeichnung und für die Sicherheitsbeurteilung bedeutsame Merkmale des GVO</h3>
                <table>
                    <thead>
                        <tr>
                            <th scope="col" class="column-name" style="text-align:center"></th>
                            <th colspan="2" scope="col" class="column-donor_organism" style="text-align:center;">
                                <div >Spenderorganismus</div>
                            </th>
                            <th colspan="2" scope="col" class="column-nuc_acid_purity" style="text-align:center">
                                <div>Nukleinsäure</div>
                            </th>
                        </tr>
                        <tr>
                            <th scope="col" class="column-name">
                                <div>Bezeichnung</div>
                            </th>
                            <th scope="col" class="column-donor_organism" style="text-align:center;">
                                <div >Bezeichnung</div>
                            </th>
                            <th scope="col" class="column-donor_organism_risk" style="text-align:center;"> 
                                <div>Risikogruppe</div>
                            </th>
                            <th scope="col" class="column-nuc_acid_purity" style="text-align:center">
                                <div>Reinheitsgrad</div>
                            </th>
                            <th scope="col" class="column-nuc_acid_risk" style="text-align:center">
                                <div>Gefährdungspotential</div>
                            </th>
                        </tr>
                    </thead>
                    {% if object.uncommon_formz_elements %}
                        <tbody>
                            {% for formz_elem in object.uncommon_formz_elements %}
                                <tr class="row">
                                    <td class="field-name"><a class='magnific-popup-iframe-formzbaseelement-uncommon' href="{% url 'admin:formz_formzbaseelement_change' formz_elem.id %}?_to_field=id&_popup=1" target="_blank">{{formz_elem.name}}</a></td>
                                    <td class="field-donor_organism" style="text-align:center;">{% if formz_elem.get_donor_species_names %}{{formz_elem.get_donor_species_names}}{% else %}Artifiziell{% endif %}</td>
                                    <td class="field-donor_organism_risk" style="text-align:center;">{% if formz_elem.get_donor_species_risk_groups %}{{formz_elem.get_donor_species_risk_groups}}{% else %}Keine{% endif %}</td>
                                    <td class="field-nuc_acid_purity" style="text-align:center">{{formz_elem.nuc_acid_purity.german_name|capfirst}}</td>
                                    <td class="field-nuc_acid_risk" style="text-align:center">{{formz_elem.nuc_acid_risk.german_name|capfirst}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% else %}
                        <tbody>
                        <tr class="row">
                            <td colspan="5" class="field">Keine spezifischen Merkmale</td>
                        </tr>
                        </tbody>
                    {% endif %}
                </table>
                </br>

            {% if object.common_formz_elements %}
                <table>
                    <thead>
                        <th  colspan="5" scope="col" class="column-common_features">
                            Andere Merkmale, nicht relevant für die Sicherheitsbeurteilung
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td  colspan="5" scope="col" class="column-common_features">
                                {% for formz_elem in object.common_formz_elements %}
                                    {% if not forloop.last %}
                                        <a class='magnific-popup-iframe-formzbaseelement-common' href="{% url 'admin:formz_formzbaseelement_change' formz_elem.id %}?_to_field=id&_popup=1" target="_blank">{{formz_elem.name}}</a>,
                                    {% else %}
                                        <a class='magnific-popup-iframe-formzbaseelement-common' href="{% url 'admin:formz_formzbaseelement_change' formz_elem.id %}?_to_field=id&_popup=1" target="_blank">{{formz_elem.name}}</a>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
        </div>
    {% else %}
        </br>
        <div>Keine Information vorhanden</div>
    {% endif %}

    {% if object.transient_episomal_plasmids %}
        <div id='transient-plasmids'>      
            
            </br>
            
            {% if object.s2_work %}
                <h2>In den Organismus transduzierte Plasmide</h2>    
                <div>Dieser Organismus wurde durch virale Transduktion des folgenden Plasmids/der folgenden Plasmide geschaffen.</div>
            {% else %}
                <h2> In den Organismus transient {% if transfected %}transfizierte{% else %}transformierte{% endif %} Plasmide</h2>
                <div>Dieser Organismus wurde mit dem/n folgenen Plasmid/en transient {% if transfected %}transfiziert{% else %}transformiert{% endif %}.</div>
            {% endif %}
           
            {% for plasmid in object.transient_episomal_plasmids %}

                </br>
                <table>
                    <thead>
                        <tr>
                            <th colspan="5" scope="col" class="column-plasmid">
                                <a class="magnific-popup-iframe-transient-episomal-plasmid" href="{% url 'admin:collection_management_plasmid_change' plasmid.plasmid.id %}?_to_field=id&_popup=1" target="_blank">Plasmid #{{plasmid.plasmid}}</a>
                                <span style="text-transform: none">
                                {% if plasmid.plasmid.map %}
                                       (<a href="{{plasmid.plasmid.map_gbk.url}}">.gbk</a><a class="magnific-popup-iframe-transient-episomal-plasmid-map" href={{plasmid.plasmid.get_ove_url_map_gbk}}>⊙</a>,
                                        <a class="magnific-popup-img-transient-episomal-plasmid-map" href="{{plasmid.plasmid.map_png.url}}">.png</a>)
                                    {% endif %}
                                    - Organismus {% if transfected %}transfiziert{% else %}transformiert{% endif %} am {{plasmid.created_date | date:"d.m.Y"}}, unter Projekt/e:
                                    {% if plasmid.formz_projects.all|length == 1 %}
                                        {% for project in plasmid.formz_projects.all %}
                                            <a class="magnific-popup-iframe-transient-episomal-plasmid-formzproject" href="{% url 'admin:formz_formzproject_change' project.id %}?_to_field=id&_popup=1" target="_blank">{{project.short_title}}</a>;
                                        {% endfor %}
                                    {% else %}
                                        {% for project in plasmid.formz_projects.all %}
                                            {% if forloop.last %}
                                                <a class="magnific-popup-iframe-transient-episomal-plasmid-formzproject" href="{% url 'admin:formz_formzproject_change' project.id %}?_to_field=id&_popup=1" target="_blank">{{project.short_title}}</a>;
                                            {% else %}
                                                <a class="magnific-popup-iframe-transient-episomal-plasmid-formzproject" href="{% url 'admin:formz_formzproject_change' project.id %}?_to_field=id&_popup=1" target="_blank">{{project.short_title}}</a>,
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if plasmid.destroyed_date %}
                                        entsorgt am {{plasmid.destroyed_date | date:"d.m.Y"}}
                                    {% else %}
                                        noch nicht entsorgt
                                    {% endif %}
                                </span>
                                
                                {% if plasmid.plasmid.vector_zkbs %}
                                    {% if plasmid.plasmid.vector_zkbs.name != 'none' %}
                                        <span style='text-transform: none'>- ZKBS Plasmid </span><a class="magnific-popup-iframe-transient-episomal-plasmid-zkbsplasmid" style='text-transform: none' href="{% url 'admin:formz_zkbsplasmid_change' plasmid.plasmid.vector_zkbs.id %}?_to_field=id&_popup=1" target="_blank">{{plasmid.plasmid.vector_zkbs.name}}</a>
                                    {% endif %}
                                {% endif %}
                            </th>
                        </tr>
                    </thead>
                        {% if plasmid.plasmid.formz_elements.all %}
                            {% if plasmid.plasmid.get_all_uncommon_formz_elements %}
                                <thead>
                                    <tr>
                                        <th scope="col" class="column-name" style="text-align:center">
                                        </th>
                                        <th colspan="2" scope="col" class="column-donor_organism" style="text-align:center;">
                                            <div >Spenderorganismus</div>
                                        </th>
                                        <th colspan="2" scope="col" class="column-nuc_acid_purity" style="text-align:center">
                                            <div>Nukleinsäure</div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th scope="col" class="column-name">
                                            <div>Bezeichnung</div>
                                        </th>
                                        <th scope="col" class="column-donor_organism" style="text-align:center;">
                                            <div >Bezeichnung</div>
                                        </th>
                                        <th scope="col" class="column-donor_organism_risk" style="text-align:center;"> 
                                            <div>Risikogruppe</div>
                                        </th>
                                        <th scope="col" class="column-nuc_acid_purity" style="text-align:center">
                                            <div>Reinheitsgrad</div>
                                        </th>
                                        <th scope="col" class="column-nuc_acid_risk" style="text-align:center">
                                            <div>Gefährdungspotential</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                        {% for formz_elem in plasmid.plasmid.get_all_uncommon_formz_elements %}
                                            <tr class="row">
                                                <td class="field-name"><a class="magnific-popup-iframe-transient-episomal-plasmid-formzbaseelement-uncommon" href="{% url 'admin:formz_formzbaseelement_change' formz_elem.id %}?_to_field=id&_popup=1" target="_blank">{{formz_elem.name}}</a></td>
                                                <td class="field-donor_organism" style="text-align:center;">{% if formz_elem.get_donor_species_names %}{{formz_elem.get_donor_species_names}}{% else %}Artifiziell{% endif %}</td>
                                                <td class="field-donor_organism_risk" style="text-align:center;">{% if formz_elem.get_donor_species_risk_groups %}{{formz_elem.get_donor_species_risk_groups}}{% else %}Keine{% endif %}</td>
                                                <td class="field-nuc_acid_purity" style="text-align:center">{{formz_elem.nuc_acid_purity.german_name|capfirst}}</td>
                                                <td class="field-nuc_acid_risk" style="text-align:center">{{formz_elem.nuc_acid_risk.german_name|capfirst}}</td>
                                            </tr>
                                        {% endfor %}
                                </tbody>
                            {% else %}
                                <tbody>
                                <tr class="row">
                                    <td colspan="5" class="field">Keine unübliche Merkmale</td>
                                </tr>
                                </tbody>
                            {% endif %}
                        {% else %}
                            <tbody>
                                <tr>
                                    <td  colspan="5" scope="col" class="column-common_features">Keine Merkmale</td>
                                </tr>
                            </tbody>
                        {% endif %}
                        </table>        
                        
                        {% if plasmid.plasmid.get_all_common_formz_elements %}
                            <table>
                                <thead>
                                    <th  colspan="5" scope="col" class="column-common_features">
                                            Andere Merkmale, nicht relevant für die Sicherheitsbeurteilung
                                        </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td  colspan="5" scope="col" class="column-common_features">
                                            {% for formz_elem in plasmid.plasmid.get_all_common_formz_elements %}
                                                {% if not forloop.last %}
                                                    <a class="magnific-popup-iframe-transient-episomal-plasmid-formzbaseelement-common" href="{% url 'admin:formz_formzbaseelement_change' formz_elem.id %}?_to_field=id&_popup=1" target="_blank">{{formz_elem.name}}</a>,
                                                {% else %}
                                                    <a class="magnific-popup-iframe-transient-episomal-plasmid-formzbaseelement-common" href="{% url 'admin:formz_formzbaseelement_change' formz_elem.id %}?_to_field=id&_popup=1" target="_blank">{{formz_elem.name}}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if object.s2_plasmids %}

        <div id='s2-plasmids'>      
            
            </br>
            <h4>Virusverpackung</h4>
            <div>Das oben genannten Plasmid/die oben genannten Plasmide wurden mit dem/den unten genannten Plasmid/Plasmiden zum Verpacken viraler Partikel in {% if virus_packaging_cell_line.id %}<a class="magnific-popup-iframe-virus_packaging_cell_line" href="{% url 'admin:formz_zkbscellline_change' virus_packaging_cell_line.id %}?_to_field=id&_popup=1">{{virus_packaging_cell_line.name}}</a>{% else %}{{virus_packaging_cell_line.name}}{% endif %} Zellen genutzt.</div>
                
            {% for plasmid in object.s2_plasmids %}

                    </br>
                    <table>
                        <thead>
                            <tr>
                                <th  colspan="5" scope="col" class="column-plasmid">
                                    <a class="magnific-popup-iframe-s2-plasmid" href="{% url 'admin:collection_management_plasmid_change' plasmid.plasmid.id %}?_to_field=id&_popup=1" target="_blank">Plasmid #{{plasmid.plasmid}}</a>
                                    <span style="text-transform: none">
                                        {% if plasmid.plasmid.map %}
                                        (<a href="{{plasmid.plasmid.map_gbk.url}}">.gbk</a><a class="magnific-popup-iframe-s2-plasmid-map" href={{plasmid.plasmid.get_ove_url_map_gbk}}>⊙</a>,
                                         <a  class="magnific-popup-iframe-s2-plasmid-map" href="{{plasmid.plasmid.map_png.url}}">.png</a>);
                                        {% endif %}
                                        {% if not plasmid.plasmid.map and plasmid.created_date %}
                                        - Organismus {% if transfected %}transfiziert{% else %}transformiert{% endif %} am {{plasmid.created_date | date:"d.m.Y"}},
                                        {% else %}
                                        Organismus {% if transfected %}transfiziert{% else %}transformiert{% endif %} am {{plasmid.created_date | date:"d.m.Y"}},
                                        {% endif %}

                                        unter Projekt/e:

                                        {% if plasmid.formz_projects.all|length == 1 %}
                                            {% for project in plasmid.formz_projects.all %}
                                                <a class="magnific-popup-iframe-s2-formzproject" href="{% url 'admin:formz_formzproject_change' project.id %}?_to_field=id&_popup=1" target="_blank">{{project.short_title}}</a>;
                                            {% endfor %}
                                        {% else %}
                                            {% for project in plasmid.formz_projects.all %}
                                                {% if forloop.last %}
                                                    <a class="magnific-popup-iframe-s2-formzproject" href="{% url 'admin:formz_formzproject_change' project.id %}?_to_field=id&_popup=1" target="_blank">{{project.short_title}}</a>;
                                                {% else %}
                                                    <a class="magnific-popup-iframe-s2-formzproject" href="{% url 'admin:formz_formzproject_change' project.id %}?_to_field=id&_popup=1" target="_blank">{{project.short_title}}</a>,
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                        {% if plasmid.destroyed_date %}
                                            entsorgt am {{plasmid.destroyed_date | date:"d.m.Y"}}
                                        {% else %}
                                            noch nicht entsorgt
                                        {% endif %}
                                    </span>
                                    {% if plasmid.plasmid.vector_zkbs %}
                                        {% if plasmid.plasmid.vector_zkbs.name != 'none' %}
                                            <span style='text-transform: none'>- ZKBS Plasmid </span><a class="magnific-popup-iframe-s2-zkbsplasmid" style='text-transform: none' href="{% url 'admin:formz_zkbsplasmid_change' plasmid.plasmid.vector_zkbs.id %}?_to_field=id&_popup=1" target="_blank">{{plasmid.plasmid.vector_zkbs.name}}</a>
                                        {% endif %}
                                    {% endif %}
                                </th>
                            </tr>
                        </thead>
                            {% if plasmid.plasmid.formz_elements.all %}
                                {% if plasmid.plasmid.get_all_uncommon_formz_elements %}
                                    <thead>
                                        <tr>
                                            <th scope="col" class="column-name" style="text-align:center">
                                            </th>
                                            <th colspan="2" scope="col" class="column-donor_organism" style="text-align:center;">
                                                <div >Spenderorganismus</div>
                                            </th>
                                            <th colspan="2" scope="col" class="column-nuc_acid_purity" style="text-align:center">
                                                <div>Nukleinsäure</div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th scope="col" class="column-name">
                                                <div>Bezeichnung</div>
                                            </th>
                                            <th scope="col" class="column-donor_organism" style="text-align:center;">
                                                <div >Bezeichnung</div>
                                            </th>
                                            <th scope="col" class="column-donor_organism_risk" style="text-align:center;"> 
                                                <div>Risikogruppe</div>
                                            </th>
                                            <th scope="col" class="column-nuc_acid_purity" style="text-align:center">
                                                <div>Reinheitsgrad</div>
                                            </th>
                                            <th scope="col" class="column-nuc_acid_risk" style="text-align:center">
                                                <div>Gefährdungspotential</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            {% for formz_elem in plasmid.plasmid.get_all_uncommon_formz_elements %}
                                                <tr class="row">
                                                    <td class="field-name"><a class="magnific-popup-iframe-s2-formzbaseelement-uncommon" href="{% url 'admin:formz_formzbaseelement_change' formz_elem.id %}?_to_field=id&_popup=1" target="_blank">{{formz_elem.name}}</a></td>
                                                    <td class="field-donor_organism" style="text-align:center;">{% if formz_elem.get_donor_species_names %}{{formz_elem.get_donor_species_names}}{% else %}Artifiziell{% endif %}</td>
                                                    <td class="field-donor_organism_risk" style="text-align:center;">{% if formz_elem.get_donor_species_risk_groups %}{{formz_elem.get_donor_species_risk_groups}}{% else %}Keine{% endif %}</td>
                                                    <td class="field-nuc_acid_purity" style="text-align:center">{{formz_elem.nuc_acid_purity.german_name|capfirst}}</td>
                                                    <td class="field-nuc_acid_risk" style="text-align:center">{{formz_elem.nuc_acid_risk.german_name|capfirst}}</td>
                                                </tr>
                                            {% endfor %}
                                    </tbody>
                                {% else %}
                                    <tbody>
                                    <tr class="row">
                                        <td colspan="5" class="field">Keine unübliche Merkmale</td>
                                    </tr>
                                    </tbody>
                                {% endif %}
                            {% else %}
                                <tbody>
                                    <tr>
                                        <td  colspan="5" scope="col" class="column-common_features">Keine Merkmale</td>
                                    </tr>
                                </tbody>
                            {% endif %}
                            </table>        
                            
                            {% if plasmid.plasmid.get_all_common_formz_elements %}
                                <table>
                                    <thead>
                                        <th  colspan="5" scope="col" class="column-common_features">
                                                Andere Merkmale, nicht relevant für die Sicherheitsbeurteilung
                                            </th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td  colspan="5" scope="col" class="column-common_features">
                                                {% for formz_elem in plasmid.plasmid.get_all_common_formz_elements %}
                                                    {% if not forloop.last %}
                                                        <a class="magnific-popup-iframe-s2-formzbaseelement-common" href="{% url 'admin:formz_formzbaseelement_change' formz_elem.id %}?_to_field=id&_popup=1" target="_blank">{{formz_elem.name}}</a>,
                                                    {% else %}
                                                        <a class="magnific-popup-iframe-s2-formzbaseelement-common" href="{% url 'admin:formz_formzbaseelement_change' formz_elem.id %}?_to_field=id&_popup=1" target="_blank">{{formz_elem.name}}</a>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            {% endif %}
            {% endfor %}
        </div>
    {% endif %}

</div>
{% endblock %}

{% block footer %}
    <div id="footer"></div>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery.magnific-popup.min.js' %}"></script>
    <script type="text/javascript">
        const MagnificiFrameClassIds = ['magnific-popup-iframe-ecolistrain',
                                        'magnific-popup-iframe-formzproject',
                                        'magnific-popup-iframe-formzproject-parent',
                                        'magnific-popup-iframe-zkbscellline',
                                        'magnific-popup-iframe-zkbsplasmid',
                                        'magnific-popup-iframe-formzbaseelement-common',
                                        'magnific-popup-iframe-formzbaseelement-uncommon',
                                        'magnific-popup-iframe-plasmid',
                                        'magnific-popup-iframe-transient-episomal-plasmid',
                                        'magnific-popup-iframe-transient-episomal-plasmid-formzproject',
                                        'magnific-popup-iframe-transient-episomal-plasmid-zkbsplasmid',
                                        'magnific-popup-iframe-transient-episomal-plasmid-formzbaseelement-uncommon',
                                        'magnific-popup-iframe-transient-episomal-plasmid-formzbaseelement-common',
                                        'magnific-popup-iframe-s2-plasmid',
                                        'magnific-popup-iframe-s2-formzproject',
                                        'magnific-popup-iframe-s2-zkbsplasmid',
                                        'magnific-popup-iframe-s2-formzbaseelement-uncommon',
                                        'magnific-popup-iframe-s2-formzbaseelement-common',
                                        'magnific-popup-iframe-s2-plasmid-map',
                                        'magnific-popup-iframe-transient-episomal-plasmid-map',
                                        'magnific-popup-iframe-plasmid-map',
                                        'magnific-popup-iframe-virus_packaging_cell_line'];
        const MagnificImgClassIds = ['magnific-popup-img-plasmid-map',
                                     'magnific-popup-img-s2-plasmid-map',
                                     'magnific-popup-img-transient-episomal-plasmid-map'];
    </script>
    <script type="text/javascript" src="{% static 'admin/js/admin/MagnificPopUpiFrame.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/admin/MagnificPopUpImg.js' %}"></script>
{% endblock %}